<div class="container">
  <h1 class="mat-display-4">About</h1>
  <p class="mat-display-1">
    Learn more about the team maintaining Gitalytics, how and why the project started, and how to
    get involved.
  </p>
  <h2>Team</h2>
  <p>
    Gitalytics is maintained by <a href="https://github.com/shhdharmen">Dharmen Shah</a> on GitHub.
    I am actively looking to grow this team and would love to hear from you if you're excited about
    visualizing stats and improving the code.
  </p>
  <h2>Tech</h2>
  <h3 class="mat-subheading-2">Gitalytics is built upon Angular and NestJS.</h3>
  <p>
    Checkout
    <a href="hhttps://dev.to/shhdharmen/series/10285" target="_blank"
      >Gitalytics Digital Ocean Hackathon Series' Articles</a
    >
    on dev.to for more details on how I built it.
  </p>

  <h2>Get Involved</h2>
  <p>
    Get involved with Gitalytics development by
    <a href="https://github.com/shhdharmen/gitalytics/issues/new/choose" target="_blank"
      >opening an issue</a
    >
    or submitting a pull request. Read our
    <a href="https://github.com/shhdharmen/gitalytics/blob/main/CONTRIBUTING.md" target="_blank"
      >contributing guidelines</a
    >
    for information on how we develop.
  </p>
  <h2>License</h2>
  <p>
    Gitalytics is released under the
    <a href="https://github.com/shhdharmen/gitalytics/blob/main/LICENSE" target="_blank"
      >MIT license</a
    >
  </p>
</div>
