<h2 mat-dialog-title>
  2020 GitHub Repositories
  <button mat-icon-button *ngIf="isHandset$ | async" mat-dialog-close class="float-right mt-n1">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="rounded bg-primary text-white p-3 my-3 position-relative share-div">
    <div class="share-content">
      <div
        class="m-n3 px-3 py-1 bg-accent rounded-top"
        [class.text-dark]="(isDark$ | async) === true"
      >
        <p class="mb-0">
          2020 Coded for <span class="highlight">{{ data.login }}</span>
        </p>
      </div>
      <div class="mb-4"></div>
      <h2 class="mat-display-1">
        They created<br /><span class="highlight">{{ data.repositoriesCount }} repositories</span
        ><br />
        in 2020!
      </h2>
      <h2>
        Their repositories got <span class="highlight">~{{ data.starCount }} stars</span>.
      </h2>
      <h2>
        Their repositories were <span class="highlight">forked ~{{ data.forkCount }}</span> times.
      </h2>
      <div class="mb-4"></div>
      <div class="bg-dark m-n3 px-3 py-1 rounded-bottom">
        <div class="row align-items-center">
          <div class="col">
            <p class="mb-0">
              <img
                src="../../../../../assets/gitalytics.png"
                height="24"
                width="24"
                alt="Gitalytics"
                srcset=""
                class="align-middle"
              />
              Gitalytics
            </p>
          </div>
          <div class="col text-right">
            <p class="mb-0">#2020Coded</p>
          </div>
        </div>
      </div>
    </div>
    <div class="share-bg"></div>
  </div>
  <p>
    ℹ️ Star and fork are counted from first 100<br />
    <a
      href="https://docs.github.com/en/free-pro-team@latest/graphql/reference/objects#createdrepositorycontribution"
      target="_blank"
      rel="no-opener no-referrer"
      ><code>CreatedRepositoryContribution</code></a
    >
    in 2020.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-icon-button class="ml-auto" (click)="download()">
    <mat-icon>download</mat-icon>
  </button>
  <a mat-icon-button [href]="twitterIntent" target="_blank">
    <mat-icon svgIcon="twitter"></mat-icon>
  </a>
</mat-dialog-actions>
