.share-bg {
  background-image: url('../../../../../assets/icons/repo.svg');
  background-position-x: 96%;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: 150px;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.share-content {
  position: relative;
  z-index: 1;
}
