<div [class.dark-theme]="isDark">
  <mat-toolbar
    class="border-bottom justify-content-between"
    [ngClass]="{ 'border-dark bg-white': !isDark }"
  >
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="isHandset$ | async"
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="d-flex align-items-center">
      <a routerLink="/"
        ><img
          src="../../../../assets/gitalytics.png"
          height="50"
          width="50"
          alt=""
          class="align-middle mr-2"
      /></a>
      <span>Gitalytics</span>
    </div>
    <div class="row no-gutters h-100 ml-2" *ngIf="(isHandset$ | async) !== true">
      <div
        class="col-auto d-flex align-items-center border-thick"
        [ngClass]="{ 'border-dark': !isDark }"
        [routerLinkActive]="['border-bottom']"
      >
        <a *ngIf="user" class="nav-link" mat-button [routerLink]="['user', user.login, '2020']"
          >#2020Coded</a
        >
      </div>
      <div
        class="col-auto d-flex align-items-center border-thick"
        [ngClass]="{ 'border-dark': !isDark }"
        [routerLinkActive]="['border-bottom']"
      >
        <a *ngIf="user" class="nav-link" mat-button [routerLink]="['user', user.login, '2021']"
          >#2021Coded</a
        >
      </div>
    </div>
    <div>
      <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle light/dark theme">
        <mat-icon>
          <ng-container *ngIf="isDark; else moon">wb_sunny</ng-container>
          <ng-template #moon>brightness_3</ng-template>
        </mat-icon>
      </button>
      <div class="d-inline-block" *ngIf="user" @fadeSlideInOutX>
        <button
          mat-icon-button
          matTooltip="View User Info"
          [matMenuTriggerFor]="menu"
          aria-label="View User Info"
        >
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="pb-0">
          <mat-card class="shadow-none">
            <mat-card-header>
              <div mat-card-avatar>
                <img
                  height="40"
                  width="40"
                  class="rounded-circle"
                  [src]="user.avatarUrl"
                  [alt]="'Photo of ' + user.name"
                />
              </div>
              <mat-card-title>{{ user.name }}</mat-card-title>
              <mat-card-subtitle>
                <a [href]="user.url" target="_blank" rel="noopener noreferrer">{{ user.login }}</a>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ user.bio }}
              </p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="change()">Change User</button>
            </mat-card-actions>
          </mat-card>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="main-container">
    <mat-sidenav
      #drawer
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [attr.color]="themeColor"
    >
      <mat-toolbar [color]="themeColor">Menu</mat-toolbar>
      <mat-nav-list>
        <a
          *ngIf="user"
          mat-list-item
          [routerLink]="['user', user.login, '2020']"
          routerLinkActive="bg-primary-darker"
          >#2020Coded</a
        >
        <a
          *ngIf="user"
          mat-list-item
          [routerLink]="['user', user.login, '2021']"
          routerLinkActive="bg-primary-darker"
          >#2021Coded</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
