<!-- src\app\shared\components\dialog\dialog.component.html -->

<h2 mat-dialog-title [attr.color]="data.themeColor || 'primary'">
  {{ data.header || 'Dialog Header' }}
</h2>
<mat-dialog-content class="mat-typography">
  <div class="mat-dialog-content-body">
    <h3>{{ data.subHeader || 'Dialog Sub Header ' }}</h3>
    <div [innerHTML]="data.content"></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
