<div class="grid-container">
  <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 6" [rowHeight]="'180px'">
    <mat-grid-tile
      [colspan]="(isHandset$ | async) ? 1 : 2"
      [rowspan]="(isHandset$ | async) ? 2 : 3"
    >
      <mat-card class="dashboard-card d-flex flex-column justify-content-end" color="primary">
        <mat-card-header class="mx-0">
          <!-- <mat-card-title>
            <h1 [class.mat-display-4]="(isHandset$ | async) === false">#2020<br />Coded</h1>
          </mat-card-title> -->
          <mat-card-subtitle *ngIf="!isLoading" @fadeSlideInOut>
            <div class="row align-items-center">
              <div class="col-auto" *ngIf="(isHandset$ | async) === false">
                <img
                  [src]="data.user.avatarUrl"
                  class="rounded-circle shadow"
                  height="80"
                  width="80"
                  [alt]="'Photo of + ' + data.user.name"
                  srcset=""
                />
              </div>
              <div class="col">
                <h2>
                  A quick glance at
                  <img
                    *ngIf="isHandset$ | async"
                    [src]="data.user.avatarUrl"
                    class="rounded-circle shadow align-middle"
                    height="36"
                    width="36"
                    [alt]="'Photo of + ' + data.user.name"
                    srcset=""
                  />
                  <a [href]="data.user.url" target="_blank"
                    ><span class="highlight">{{ userName }}</span></a
                  >'s 2020 GitHub Contributions!
                </h2>
              </div>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 [ngClass]="[(isHandset$ | async) ? 'mat-display-1' : 'mat-display-4']">
            #2020<br *ngIf="(isHandset$ | async) === false" />Coded
          </h1>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="share()" [disabled]="isLoading">Share</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(isHandset$ | async) ? 1 : 2"
      [rowspan]="(isHandset$ | async) ? 1 : 2"
      *ngIf="isLoading"
    >
      <gitalytics-widget-loader></gitalytics-widget-loader>
    </mat-grid-tile>

    <ng-container *ngIf="!isLoading">
      <mat-grid-tile
        *ngFor="let card of shareCardList"
        [colspan]="(isHandset$ | async) ? 1 : card.cols"
        [rowspan]="(isHandset$ | async) ? 1 : card.rows"
      >
        <mat-card class="dashboard-card">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon
                [svgIcon]="CONTRIBUTION_ICON[card.queryType]"
                aria-hidden="false"
                [attr.aria-label]="CONTRIBUTION_ICON[card.queryType] + ' SVG Icon'"
              ></mat-icon>
            </div>
            <mat-card-title
              >{{ CONTRIBUTION_TITLE[card.queryType] }}
              <button
                mat-icon-button
                class="more-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toggle menu"
                #menuTrigger
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="shareCard(card.modalData)">Share</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row align-items-end">
              <div class="col-auto mr-auto">
                <h2 class="mat-display-3">{{ card.primaryData }}</h2>
              </div>
              <div class="col-auto" *ngFor="let datum of card.secondaryData">
                <h3 class="mat-display-1">
                  <mat-icon [svgIcon]="datum.isIconSVG ? datum.icon : ''">
                    <ng-container *ngIf="!datum.isIconSVG">{{ datum.icon }}</ng-container>
                  </mat-icon>
                  {{ datum.value }}
                </h3>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>
